<footer class="w-5/6 sm:w-2/3 lg:w-1/2 mx-auto text-balance mt-4 py-2 border-t border-gray-700">
    <span class="text-xs w-full flex justify-center">Hecho con ❤️ por <a href="https://www.instagram.com/santizaidan_" class="hover:underline transition">Santiago Zaidan</a></span>
</footer>