<section id="about" class="mt-[25%] mb-10">
  <img
    src="./foto-cv.jpg"
    alt="Profile photo"
    class="rounded-full h-[150px] w-[150px] mb-2"
  />
  <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold mb-4 flex gap-4">
    Santiago Zaidan
    <a href="https://www.linkedin.com/in/santiago-zaidan-b68841229" class="flex justify-center items-center"
      ><span
        class="text-xs font-medium me-2 px-2.5 py-0.5 rounded bg-sky-800 text-sky-100/80"
        >Disponible para trabajar</span
      ></a
    >
  </h1>
  <h2>
    <span class="text-orange-400">Desarrollador full-stack.</span>
    <span class="text-orange-300"
      >Buscando constantemente mejorar mis habilidades.</span
    >
    <span class="text-orange-500"
      >Aportando valor a todo tipo de productos digitales.</span
    >
  </h2>
</section>
