<header class="flex justify-center items-center mx-auto sticky top-2 w-full z-[100]">
    <nav
        class="rounded-full p-3 sm:py-1 text-xs sm:text-base flex flex-row items-center backdrop-blur-2xl bg-[var(--bgColor)] text-nowrap"
    >
        <a href="#about" class="rounded-full px-3 transition">Sobre mí</a>
        <a href="#projects" class="rounded-full px-3 transition">Proyectos</a>
        <a href="#education" class="rounded-full px-3 transition">Educación</a>
        <a href="#contact" class="rounded-full px-3 transition">Contacto</a>
    </nav>
</header>

<style>
    nav a:hover {
        background: var(--secondaryColor);
    }
</style>
